---
import Image from "./ui/Image.astro";
import Container from "./ui/Container.astro";
import Heading from "./ui/Heading.astro";
import Contact from "./ui/Contact.astro";
import Text from "./ui/Text.astro";
import Flex from "./ui/Flex.astro";
import FlexItem from "./ui/FlexItem.astro";

import personalData from '../data/personal.json';

const {name, title, photo, about} = personalData;

---
<Container >
  <Flex align="flex-start" gap="2.4rem" wrap="wrap">
    <FlexItem flex="1 1 15rem">
      <Image src={photo}/>
    </FlexItem>

    <FlexItem flex="3 1 45rem">
      <div class="head">
        <Heading weight="600" wrapped subHeading>
        {name}
        <Fragment slot="sub-heading">{title}</Fragment>
        </Heading>
        <Contact/>
      </div>

      <Text>{about}</Text>
    </FlexItem>
  </Flex>
</Container>


<style>
  .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 3.4rem;
  }
</style>