---
import Container from "./ui/Container.astro";
import Flex from "./ui/Flex.astro";
import FlexItem from "./ui/FlexItem.astro";
import Heading from "./ui/Heading.astro";
import Progress from "./ui/Progress.astro";

import skillsList from "../data/skills.json";
---

<Container>
  <Heading weight="700" size="1.8rem" marginBottom="2rem">FRONT END</Heading>
  <div class="grid">
    {skillsList.map(({skillName,avgStrength})=><Progress value={avgStrength} label={skillName}></Progress>)}
  </div>
</Container>

<style>
  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2.6rem;
    column-gap: 5rem;
  }

  @media (max-width: 37.5em) {
    .grid{
      grid-template-columns: 1fr;
    }
    html{
      font-size: 58.5%;
    }
  }
</style>