<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abderrahmane Benchalel</title>
  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

      }

    html{
      font-size: 62.5%;
    }  

    :root{
      --box-shadow: 0px 4px 32px 0px #0000001F;
      --color-primary:#2F80ED;
      --color-grey-200: #333333;
      --color-grey-150: #4F4F4F;
      --color-grey-100: #828282;
      --color-grey-50:#E0E0E0;
      /* #C4C4C4 */



    }

    body{
      font-family: "Montserrat", sans-serif;
      background-color:#F2F2F2;
      height: 100dvh;
      padding: 1.8rem;
      padding-top: 7rem;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    @media (max-width: 37.5em) {
    html{
      font-size: 57%;
    }
  }
  </style>
</head>
<body>
  <slot/>
  
</body>
</html>