<div class="contact">
  <span class="row">
    <!-- <Icon/> -->
    <a href="mailto:billy@example.com">billy@example.com</a>
  </span>
  <span class="row">
    <!-- <Icon/> -->
    <a href="tel:(+603) 546 624 342">(+603) 546 624 342</a>
  </span>
</div>

<style>
.contact{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact a{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-grey-150);
}
.contact svg{
  width: 1.8rem;
}

.contact path{
  color: var(--color-grey-150);
}

.row{
  display: flex;
  gap: 1.7rem;
}
</style>