---
import IcEmail from './IcEmail.astro';
import IcPhone from './IcPhone.astro';
import IcLinkedin from './IcLinkedin.astro';

import personalData from '../../data/personal.json';

const {email, phoneNumber, linkedin} = personalData;
---

<div class="contact">
  <span class="row">
    <IcEmail/>
    <a href=`mailto:${email}`>{email}</a>
  </span>
  <span class="row">
    <IcLinkedin/>
    <a href={linkedin}>Linkedin Profile</a>
  </span>
</div>

<style>
.contact{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact a{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-grey-150);
}
.contact svg{
  width: 1.8rem;
}

.contact path{
  color: var(--color-grey-150);
}

.row{
  display: flex;
  gap: 1.7rem;
}
</style>