---
export interface Props{
  tags?:Array<any>,
  marginBottom?:string,
}

const {tags=[], marginBottom=""} = Astro.props as Props;
---
<div style=`margin-bottom: ${marginBottom};`>
  {tags.map(tag=><span class={`tag #${tag}`}>#{tag}</span>)}
</div>

<style>
  div{
    height: 6rem;
  }
  .tag{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-grey-150);
    margin-right: .9rem;
    display: inline-block;
    line-height: 1.5;
  }
</style>