---
export interface Props{
  tags?:Array<any>,
  marginBottom?:string,
}

const {tags=[], marginBottom=""} = Astro.props as Props;
---
<div style=`margin-bottom: ${marginBottom};`>
  {tags.map(tag=><span class={`tag #${tag}`}>#{tag}</span>)}
</div>

<style>
  .tag{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey-150);
    margin-right: .9rem;
  }
</style>